In [1]:
import pandas as pd

In [2]:
hello wolrd

SyntaxError: invalid syntax (Temp/ipykernel_11204/3474851780.py, line 1)

In [3]:
print("Hello World")

Hello World

In [4]:
import numpy as np

In [12]:
data= {
    'fulano': [3,2,0,1],
    'ciclano': [0,3,7,2]
}

tabela = pd.DataFrame(data)
tabela

   fulano  ciclano
0       3        0
1       2        3
2       0        7
3       1        2